In [8]:
import pickle
import json
import pandas as pd
import numpy as np

In [14]:
# import filtered business_id as dataframe from pickle
with open('data/yelp-dataset/df_business.pickle', 'rb') as fp:
    df_business_id = pickle.load(fp)
print(df_business_id.name)
df_business_id.shape

business_id

(38117,)

In [10]:
# readin chechin json data
with open('data/yelp-dataset/yelp_academic_dataset_checkin.json') as fp:
    json_checkin = fp.readlines()  #cy：我不是很确定 readlines 合不合适。我assume了每个id都是单独的一行
json_checkin[2]

'{"time":{"Thu-0":1,"Mon-1":1,"Mon-12":1,"Sat-16":1,"Sun-22":1,"Fri-23":1},"business_id":"tJRDll5yqpZwehenzE2cSg"}\n'

In [26]:
# Create dataframe and filter it by 4 cities, using buesiness_id
list_ = []
for i_line in json_checkin:
    list_.append(json.loads(i_line))
    
df_checkin = pd.DataFrame(list_)
print('before fileter', df_checkin.shape)
print('no NaN, as show in isna():', df_checkin.isna().sum())
df_checkin = df_checkin[df_checkin['business_id'].isin(df_business_id)]
print('after filter', df_checkin.shape)
df_checkin.head()

before fileter (157075, 2)
no NaN, as show in isna(): business_id    0
time           0
dtype: int64
after filter (34181, 2)

                business_id                                               time
378  lia867Aug7wdfpo5t86W3Q                                       {'Fri-0': 1}
516  8U6EmwNaeTnhKbhBgIZPGQ  {'Sun-0': 1, 'Fri-1': 3, 'Mon-1': 2, 'Sat-1': ...
517  KsYAGLP4yC7FbfixaeCHsA  {'Fri-0': 5, 'Mon-0': 2, 'Sat-0': 2, 'Sun-0': ...
518  bo3z3-WUNblcRKRrWqeTAg  {'Fri-0': 5, 'Mon-0': 3, 'Sun-0': 2, 'Thu-0': ...
519  72R6zu7hH6R-nfjvBkMUHQ  {'Mon-1': 1, 'Sun-4': 1, 'Tue-10': 1, 'Fri-15'...

In [25]:
df_checkin.time.iloc[3]

{'Fri-0': 5,
 'Mon-0': 3,
 'Sun-0': 2,
 'Thu-0': 4,
 'Tue-0': 1,
 'Wed-0': 4,
 'Fri-1': 3,
 'Mon-1': 1,
 'Sat-1': 1,
 'Sun-1': 4,
 'Thu-1': 6,
 'Tue-1': 2,
 'Wed-1': 4,
 'Sun-2': 1,
 'Tue-2': 3,
 'Mon-3': 1,
 'Fri-4': 1,
 'Tue-4': 1,
 'Tue-7': 1,
 'Fri-9': 31,
 'Mon-9': 53,
 'Sat-9': 27,
 'Sun-9': 29,
 'Thu-9': 37,
 'Tue-9': 37,
 'Wed-9': 37,
 'Fri-10': 42,
 'Mon-10': 27,
 'Sat-10': 36,
 'Sun-10': 33,
 'Thu-10': 35,
 'Tue-10': 38,
 'Wed-10': 31,
 'Fri-11': 10,
 'Mon-11': 5,
 'Sat-11': 18,
 'Sun-11': 16,
 'Thu-11': 8,
 'Tue-11': 4,
 'Wed-11': 11,
 'Fri-12': 1,
 'Mon-12': 3,
 'Sat-12': 3,
 'Sun-12': 9,
 'Thu-12': 7,
 'Tue-12': 5,
 'Wed-12': 6,
 'Fri-13': 2,
 'Mon-13': 2,
 'Sat-13': 4,
 'Sun-13': 8,
 'Thu-13': 4,
 'Tue-13': 3,
 'Wed-13': 3,
 'Fri-14': 2,
 'Mon-14': 3,
 'Sat-14': 8,
 'Sun-14': 12,
 'Thu-14': 2,
 'Tue-14': 5,
 'Wed-14': 3,
 'Fri-15': 4,
 'Mon-15': 4,
 'Sat-15': 11,
 'Sun-15': 6,
 'Thu-15': 8,
 'Tue-15': 2,
 'Wed-15': 6,
 'Fri-16': 4,
 'Mon-16': 3,
 'Sat-16': 6,
 'Sun-16': 10,
 'Thu-16': 6,
 'Tue-16': 3,
 'Wed-16': 3,
 'Mon-17': 3,
 'Sat-17': 6,
 'Sun-17': 15,
 'Thu-17': 3,
 'Tue-17': 4,
 'Wed-17': 5,
 'Fri-18': 3,
 'Mon-18': 3,
 'Sat-18': 4,
 'Sun-18': 15,
 'Thu-18': 3,
 'Tue-18': 1,
 'Wed-18': 4,
 'Fri-19': 4,
 'Mon-19': 10,
 'Sat-19': 5,
 'Sun-19': 8,
 'Thu-19': 4,
 'Tue-19': 6,
 'Wed-19': 3,
 'Fri-20': 5,
 'Mon-20': 12,
 'Sat-20': 4,
 'Sun-20': 3,
 'Thu-20': 14,
 'Tue-20': 1,
 'Wed-20': 7,
 'Fri-21': 8,
 'Mon-21': 6,
 'Sat-21': 3,
 'Sun-21': 5,
 'Thu-21': 5,
 'Tue-21': 4,
 'Wed-21': 2,
 'Fri-22': 2,
 'Mon-22': 2,
 'Sat-22': 4,
 'Sun-22': 2,
 'Thu-22': 3,
 'Tue-22': 1,
 'Wed-22': 6,
 'Fri-23': 5,
 'Mon-23': 2,
 'Sat-23': 6,
 'Sun-23': 2,
 'Tue-23': 4,
 'Wed-23': 9}