In [3]:
import pandas as pd
import numpy as np
import pickle
import json

In [4]:
with open('data/yelp-dataset/yelp_academic_dataset_tip.json') as fp:
    json_tip = fp.readlines()
json_tip[:1]

['{"text":"Get here early enough to have dinner.","date":"2012-07-15","likes":0,"business_id":"tJRDll5yqpZwehenzE2cSg","user_id":"zcTZk7OG8ovAmh_fenH21g"}\n']

In [7]:
list_ = []
for i_line in json_tip:
    list_.append(json.loads(i_line))
df_tip = pd.DataFrame(list_)
df_tip.head()

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,2ThtBbeDqFkVi6LugUOcVA,2012-11-25,0,Don't use them! Double charged my boyfriend an...,M5n8mMFoeXjnJEV2gxyGGA
2,jH19V2I9fIslnNhDzPmdkA,2015-08-12,0,Great breakfast large portions and friendly wa...,ZcLKXikTHYOnYt5VYRO5sg
3,dAa0hB2yrnHzVmsCkN4YvQ,2014-06-20,0,Nice place. Great staff. A fixture in the tow...,oaYhjqBbh18ZhU0bpyzSuw
4,dAa0hB2yrnHzVmsCkN4YvQ,2016-10-12,0,Happy hour 5-7 Monday - Friday,ulQ8Nyj7jCUR8M83SUMoRQ